<app-header></app-header>
<div class="homepage comman-pages">
    <div class="cmp-section">
        <section id="reviews-head-section" class=" pt-100 pb-150 ptMobile-25 pbMobile-50 bgp-d-tc bgp-m-hide"
            style="background-image: url(assets/img/new/reviews_image.jpg); background-size: cover; background-repeat: no-repeat; background-color: rgb(2, 103, 185);">
            <div class="container">
                <div class="hero teaser">
                    <div class="dc-theme-bg row hero-container   image-position-right "
                        style="background-image:url(''); background-repeat:no-repeat; background-size:cover;">
                        <div class="cmp-hero__content col-12 col-md-12">
                            <h2><span class="dc-theme-white">Web.com Reviews</span></h2>
                            <h3><span class="dc-theme-white" style="font-weight: normal;">Read reviews about our website
                                    builder, hosting and more. Hear<br>
                                    from real customers about their experience working with Web.com.<br>
                                    You'll see why 3 million people chose us as their web partner.</span></h3>

                            <div class="cta-alignment-left">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="cmp-section">
        <section id="seeWhat" data-id="section_1047867387"
            class=" pt-25 pb-25 ptMobile-25 pbMobile-25 bgp-d-tl bgp-m-hide" style=" background-size:;">
            <div class="container">
                <div class="rte text">
                    <div class="cmp-text">
                        <h1 style="text-align: center;">See What Our Customers Have to Say</h1>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="cmp-section">
        <section id="banner2" data-id="section_580462309"
            class=" pt-50 pb-50 ptMobile-25 pbMobile-25 bgp-d-tl bgp-m-tl">
            <div class="container">
                <div class="itl teaser">
                    <div class="has-image">
                        <div class="cmp-itl__content ">
                            <div class="itl__contentHeight" style="height:px;">
                                <h1 class="dc-text--headline">Easy to work with</h1>
                                <p>Web.com was so easy to work with. I was blown away. I wasn’t expecting a website that
                                    looked so clean and crisp.</p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        <div class="cmp-itl__image">
                            <img src="/assets/img/new/optimized-white-wagon.jpeg">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="hero" data-id="section_300491354" class=" pt-50 pb-25 ptMobile- pbMobile- bgp-d-tl bgp-m-tl"
            style="background-color:#FEEAED; background-size:;">
            <div class="container">
                <div class="itl teaser">
                    <div class="has-image">
                        <div class="cmp-itl__image">
                            <img src="/assets/img/new/web-developer-master-tn.svg">
                        </div>
                        <div class="cmp-itl__content ">
                            <div class="itl__contentHeight" style="height:px;">
                                <h1 class="dc-text--headline">Quality and Service</h1>
                                <p>We really appreciate the quality and the service Web.com has provided.
                                    They are always helpful and supportive and have been outstanding in terms of service
                                    and reliability.</p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="banner2" data-id="section_580462309"
            class=" pt-50 pb-50 ptMobile-25 pbMobile-25 bgp-d-tl bgp-m-tl">
            <div class="container">
                <div class="itl teaser">
                    <div class="has-image">
                        <div class="cmp-itl__content ">
                            <div class="itl__contentHeight" style="height:px;">
                                <h1 class="dc-text--headline">Expert service</h1>
                                <p>What Apple is to the iPhone,
                                    Web.com is to Websites.</p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        <div class="cmp-itl__image">
                            <img src="/assets/img/new/g_feature-web-development-3.svg">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="hero" data-id="section_300491354" class=" pt-50 pb-25 ptMobile- pbMobile- bgp-d-tl bgp-m-tl"
            style="background-color:#FEEAED; background-size:;">
            <div class="container">
                <div class="itl teaser">
                    <div class="has-image">
                        <div class="cmp-itl__image">
                            <img src="/assets/img/new/hosting-hero-banner.png">
                        </div>
                        <div class="cmp-itl__content ">
                            <div class="itl__contentHeight" style="height:px;">
                                <h1 class="dc-text--headline">Reliable small business website hosting guaranteed</h1>
                                <p>Website hosting for small business is safe and easy with Web.com. We guarantee 99.9%
                                    uptime and offer an unlimited amount of storage and email accounts.</p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- <div class="cmp-section getintouch">
        <section class="pt-100 pb-50">
            <div class="container1">
                <div class="rte text">
                    <div class="cmp-text">
                        <h2>Get a free marketing consultation today.</h2>
                    </div>
                </div>
                <div class="rte text">
                    <div class="cmp-text">
                        <p><span class="dc-text--subhead"><span class="tt-phoneNumber"
                                    style="display: block;">800-862-9534</span></span></p>
                    </div>
                </div>
            </div>
        </section>
    </div> -->
</div>
<app-footer class="scotchy-footer"></app-footer>