<app-header></app-header>
<div class="comman-pages service-cards">
    <div class="bg-contact-head pt-20 pb-20">
        <div class="abt-in-header-be">
            <div class="pl-50">
                <h1 class="about-txt">Services</h1>
                <p>Our offices are just an email or phone call away.</p>
            </div>
        </div>
    </div>
    <section style="background: #F7F7F8;"
        class="fadeInDownBig animated pt-50 pb-50 ptMobile-25 pbMobile-25 bgp-d-tl bgp-m-tl">
        <div class="container">
            <div class="itl teaser">
                <div class="itl__contentHeight" style="height:px;">
                    <!-- WEB DEVELOPMENT FOR BUSINESS PROCESS AUTOMATION -->
                    <h1 class="dc-text--headline">End-to-End Solutions</h1>
                    <p class="greeting__subtitle">We works with its customers to deliver on all aspects of the software
                        development lifecycle.</p>
                    <p class="greeting__text">We provide expertise in key components of the end-to-end software
                        development solution:</p>
                    <ul class="custom-points">
                        <li>Project Management and Business Analysis</li>
                        <li>Software Development</li>
                        <li>Quality Assurance (Manual Automation)</li>
                        <li>Software Deployment and Support (DevOps)</li>
                    </ul>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </section>
    <section style="background: #F7F7F8;"
        class="fadeInDownBig animated pt-50 ptMobile-25 pbMobile-25 bgp-d-tl bgp-m-tl">
        <div class="container">
            <div class="itl teaser">
                <div class="has-image">
                    <div class="cmp-itl__content greeting__content">
                        <div class="itl__contentHeight" style="height:px;">
                            <!-- WEB DEVELOPMENT FOR BUSINESS PROCESS AUTOMATION -->
                            <h1 class="dc-text--headline">Project & Programme Management</h1>
                            <p>The Project Management team is responsible, with the Technical Leads, for the definition
                                and refinement of the processes that fulfill the project software deliverable and the
                                overall operational management of the projects. </p>
                            <p>Agile ways of working, combined with best practices part of traditional project
                                management, are the formula for successful delivery and better quality. Through the
                                agile mindset and collaboration we bring closer stakeholders to work together for an
                                optimal end-result. The main pillars of our delivery practice are trust, adaptability
                                and visibility and our experts will be an integral part of your project’s journey from
                                conception to completion.</p>
                            <p>Core phases of management and delivery:</p>
                            <p class="bold">1. Planning Phase</p>
                            <p class="bold">2. Product Increment Workshop</p>
                            <p class="bold">3. Sprint Based Planning</p>
                            <p class="bold">4. Milestone Delivery</p>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                    <div class="cmp-itl__image greeting__video">
                        <img src="/assets/img/new/banner/projectmanagement.png">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="background: #F7F7F8;"
        class="fadeInDownBig animated pt-50 ptMobile-25 pbMobile-25 bgp-d-tl bgp-m-tl">
        <div class="container">
            <div class="itl teaser">
                <div class="has-image">
                    <div class="cmp-itl__content greeting__content">
                        <div class="itl__contentHeight" style="height:px;">
                            <!-- WEB DEVELOPMENT FOR BUSINESS PROCESS AUTOMATION -->
                            <h1 class="dc-text--headline">Superior Planning</h1>
                            <p>Your website is probably your most important marketing asset. We don’t take that lightly.
                                Here are a few things you can look forward to when working with us:</p>
                            <ul class="checklist multiline">
                                <li>
                                    <strong>Highly-Detailed Web Design Proposals: </strong>You won’t find anything like
                                    them. At
                                    our web design agency, we’ve created&nbsp;proprietary proposal software
                                    <em>specifically</em> for our clients.
                                </li>
                                <li>
                                    <strong>Interactive Client Portal: </strong>Project timeline, wireframes, creative
                                    assets,
                                    invoices, change orders. It’s all there to keep everyone organized.
                                </li>
                                <li><strong>Robust Project Planning: </strong>Our typical project checklist has well
                                    over 150
                                    action items to ensure nothing is missed.
                                </li>
                            </ul>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                    <div class="cmp-itl__image greeting__video">
                        <img src="/assets/img/new/banner/development-cycle-label-text.png">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="background: #FCC845;"
        class="fadeInDownBig animated pt-50 ptMobile-25 pbMobile-25 bgp-d-tl bgp-m-tl">
        <div class="container">
            <div class="itl teaser">
                <div class="has-image">
                    <div class="cmp-itl__image greeting__video">
                        <img src="/assets/img/new/banner/project-manage.png">
                    </div>
                    <div class="cmp-itl__content greeting__content">
                        <div class="itl__contentHeight" style="height:px;">
                            <!-- WEB DEVELOPMENT FOR BUSINESS PROCESS AUTOMATION -->
                            <h1 class="dc-text--headline">Product & Business Analysts</h1>
                            <p>Mobile Wave Solutions has a Business and Product Analyst team to help our Customers drive
                                and support the information and decisions around product development & strategy.</p>
                            <p>That team also delivers the BA function around requirements gathering, analysis and
                                validation, especially for projects that involve platform integrations.</p>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="background: #F7F7F8;"
        class="fadeInDownBig animated pt-50 ptMobile-25 pbMobile-25 bgp-d-tl bgp-m-tl">
        <div class="container">
            <div class="itl teaser">
                <div class="has-image">
                    <div class="cmp-itl__image greeting__video">
                        <img src="/assets/img/new/banner/architecture.png">
                    </div>
                    <div class="cmp-itl__content greeting__content">
                        <div class="itl__contentHeight" style="height:px;">
                            <!-- WEB DEVELOPMENT FOR BUSINESS PROCESS AUTOMATION -->
                            <h1 class="dc-text--headline">Technology & Solution Architects</h1>
                            <p>We collaborate with clients to evaluate their whole technology eco-system and can assess
                                how their business challenges can be addressed through new technology or an architecture
                                rethink.</p>
                            <p>We are experienced in effecting seamless systematic tranformation and skilled at
                                multi-level change-management, which can revolutionalise day-to-day operations and
                                maximise efficiency.</p>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fadeInDownBig animated pt-50 pb-50 ptMobile-25 pbMobile-25 bgp-d-tl bgp-m-tl">
        <div class="container">
            <div class="itl teaser">
                <div>
                    <h1 class="dc-text--headline">Software development</h1>
                    <div style="max-width: 500px;">
                        <h1 class="dc-text--headline">Front-end Development</h1>
                        <p>Due to dominance of mobiles in a social and commercial context, we have been developing to a
                            "mobile first" strategy ever since our foundation. We develop across mobile web, hybrid and
                            native platforms for our customers and their products.</p>
                    </div>
                </div>
                <div class="has-image pt-50 pb-50">
                    <div class="cmp-itl__image greeting__video">
                        <img src="/assets/img/new/banner/webapp_dev.jpg">
                    </div>
                    <div class="cmp-itl__content greeting__content">
                        <div class="itl__contentHeight" style="height:px;">
                            <!-- WEB DEVELOPMENT FOR BUSINESS PROCESS AUTOMATION -->
                            <h1 class="dc-text--headline">Website & Mobile-web Development</h1>
                            <p>When it comes to front-end web applications, we always strive to fit ‘the right tech for
                                the right application’ and keep ahead of all the latest developments.</p>
                            <p>Having a responsive web design that looks good on every device is critical. If your
                                website
                                lacks a responsive design, you’ll damage your brand, get less traffic and ultimately,
                                lose
                                leads.</p>
                            <p>We’ll make sure your website looks fantastic on each platform by using elegant layouts
                                and
                                responsive design. We’ll customize each layout, test every element, and make sure
                                everything
                                is perfect before launch day.</p>
                        </div>
                    </div>
                </div>
                <div class="has-image pt-50 pb-50">
                    <div class="cmp-itl__content greeting__content">
                        <div class="itl__contentHeight" style="height:px;">
                            <!-- WEB DEVELOPMENT FOR BUSINESS PROCESS AUTOMATION -->
                            <h1 class="dc-text--headline">Server-side Development</h1>
                            <p>Most software Product development utilises data from a database, a server, a CMS, a third
                                party … or all of the above! </p>
                            <p>Mobile Wave Solutions has extensive experience in developing the Integration tiers and
                                APIs (Application Programming Interfaces) that enable different Platforms and Apps to
                                talk to one-another and deliver data and content in the required manner to achieve a
                                Customer’s goals and aims.</p>
                        </div>
                    </div>
                    <div class="cmp-itl__image greeting__video">
                        <img src="/assets/img/new/banner/integrations.png">
                    </div>
                </div>
                <div class="has-image pt-50 pb-50">
                    <div class="cmp-itl__image greeting__video">
                        <img src="/assets/img/new/banner/cloud.png">
                    </div>
                    <div class="cmp-itl__content greeting__content">
                        <div class="itl__contentHeight" style="height:px;">
                            <!-- WEB DEVELOPMENT FOR BUSINESS PROCESS AUTOMATION -->
                            <h1 class="dc-text--headline">Cloud Platform Development</h1>
                            <p>Mobile Wave Solutions can help your business move to a technology architecture that is
                                more ‘distributed’, more flexible and scalable and with less fixed commitment, using
                                some of the most comprehensive and broadly adopted cloud platforms.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="background: #26027014;" class="pt-50 pb-50 bgwavestyle">
        <div class="container">
            <div class="itl teaser">
                <div class="has-image">
                    <div class="cmp-itl__content greeting__content">
                        <div class="itl__contentHeight" style="height:px;">
                            <h1 class="dc-text--headline">Quality Assurance</h1>
                            <p>A critical part of the SDLC is the Quality Assurance cycle. Mobile Wave Solutions
                                recognised this ‘from the get-go’ and supplies QA teams to work with development teams.
                                As with the development teams we ensure a mix of QA skills in a mix of broad discipline
                                types: front-end, manual web QA, manual Native Mobile QA, automation QA, Software
                                Development Test Engineers.</p>
                            <p>Within Automation QA and SDET groups we also have speciality in working with the major
                                tools in the marketplace. The QA function can be as part of a Mobile Wave Solutions'
                                development team or can work with our customer development teams</p>
                        </div>
                    </div>
                    <div class="cmp-itl__image greeting__video">
                        <img src="/assets/img/new/banner/quality_check.png">
                    </div>
                </div>
                <div class="has-image">
                    <div class="cmp-itl__content greeting__content">
                        <div class="itl__contentHeight" style="height:px;">
                            <h1 class="dc-text--headline">Strategy</h1>
                            <p>Mobile Wave Solutions works with customers either as a ‘stand-alone’ consultancy
                                exercise, or as part of a wider development relationship to help distil the core
                                business objectives and identify the best strategies and routes to deliver those
                                objectives not just for the transformation at hand but readying architecture for a
                                permanent digital revolution. </p>
                            <p>The areas of strategic consultation in which we specialise are cloud-based platform
                                architecture and delivery; mobile application development; multi-service integration API
                                architectures; and Omni-channel transformation projects.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>