<app-header></app-header>
<div class="comman-pages service-cards">
    <section style="background: #181818;background-image: linear-gradient(180deg ,#ffffff,#868686);"
        class="fadeInDownBig animated pt-50 pb-50 ptMobile-25 pbMobile-25 bgp-d-tl bgp-m-tl comman-pages-next">
        <div class="container">
            <div class="itl teaser engagement-model">
                <div class="has-image">
                    <div class="interview-thumb cmp-itl__image greeting__video">
                        <img src="/assets/img/new/tech/interview.png">
                        <div class="outlined-box"></div>
                    </div>
                    <div class="cmp-itl__content greeting__content">
                        <div class="itl__contentHeight" style="height:px;">
                            <h1 class="dc-text--headline">Partner us for Your Digital Success</h1>
                            <p>Get ahead of your competition with better digital solution to improve your customer
                                experience, enable efficient business operations and improved profits by partnering
                                Citrusbug. Our expert team of consultants, developers, designers and marketers can help
                                you solve complex technology challenges with lowered costs and faster time to market.
                            </p>
                            <p>The best way to ensure the availability of scale for customer projects is to have people
                                embedded in the business and ready to be allocated at short notice.</p>
                            <div class="button-common-div">
                                <div class="start-project">
                                    <span class="btn-background"></span>
                                    <span class="transform-text">Let’s
                                        Talk</span>
                                    <span class="arrow-right-circle"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <div class="bg-contact-head pt-50">
        <div class="abt-in-header-be">
            <div class="pl-50">
                <h1 class="about-txt">Engagement Model</h1>
                <p>We aims to develop and deliver outstanding digital customer experiences..</p>
            </div>
        </div>
    </div>
    <div class="p-50">
        <div>
            We are passionate about technology, collaboration and quality. Co-operation and working together are vital
            elements of our ethos - we stand together as a team and work to drive the same goals.<br /><br />
            These are the same principles and approaches that we take to our relationships with our customers and their
            teams.
        </div>
    </div> -->
    <section class="fadeInDownBig animated pt-50 pb-50 ptMobile-25 pbMobile-25 bgp-d-tl bgp-m-tl">
        <div class="container">
            <div class="itl teaser">
                <div class="has-image">
                    <div class="cmp-itl__content greeting__content">
                        <div class="itl__contentHeight" style="height:px;">
                            <!-- WEB DEVELOPMENT FOR BUSINESS PROCESS AUTOMATION -->
                            <h1 class="dc-text--headline">How Do We Engage with Customers</h1>
                            <!-- <p class="greeting__subtitle">We use and provide the best web development software</p> -->
                            <p>We offer an enhanced set of flexible professional services that address your business
                                challenges directly.</p>
                            <p>Based on three simple principles:</p>
                            <ul class="custom-points">
                                <li>
                                    we must <span style="color:#104da2"><strong><span>innovate and provide a framework
                                                for
                                                growth</span></strong></span><span><span style="color:#000000"><strong>
                                            </strong> &amp; evolution</span></span></li>
                                <li>we must <span style="color:#104da2"><strong>deliver
                                            effectively</strong></span><span style="color:#000000"> to our partners’
                                        needs and goals;</span></li>
                                <li>we <span style="color:#104da2"><strong>share ownership</strong></span><span
                                        style="color:#000000"><strong> </strong>with our
                                        partners.&nbsp;</span></li>
                            </ul>
                            <p class="greeting__text">Our goal is to give you all the advantages of an internal team
                                combined with the benefits of working with an expert technology and delivery partner.
                            </p>
                            <!-- <p>&nbsp;</p> -->
                        </div>
                    </div>
                    <div class="cmp-itl__image greeting__video">
                        <img
                            src="/assets/img/new/banner/agile-management-team-vector-business-team-meeting-scrum-task-board-people-are-planning-work-process_53562-11181.jpg">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="background: #F7F7F8;"
        class="fadeInDownBig animated pt-50 pb-50 ptMobile-25 pbMobile-25 bgp-d-tl bgp-m-tl">
        <div class="container">
            <div class="itl teaser">
                <div class="has-image">
                    <div class="cmp-itl__image greeting__video">
                        <img src="/assets/img/new/banner/blog-picture-customer-engagement.jpg">
                    </div>
                    <div class="cmp-itl__content greeting__content">
                        <div class="itl__contentHeight" style="height:px;">
                            <h1 class="dc-text--headline">Resourcing and Scale</h1>
                            <p>One of our guiding principles is that any structure and organisation we choose must
                                scale. We have proven our ability to build productive and efficient teams quickly,
                                across a range of development skill sets and functions.</p>
                            <p>Mobile Wave Solutions encourages its team to learn and engage in projects across
                                different languages (e.g. multiple .js variations) and specialities (e.g. multiple
                                Automation QA tools).</p>
                            <p>The best way to ensure the availability of scale for customer projects is to have people
                                embedded in the business and ready to be allocated at short notice.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>