<app-header></app-header>
<div class="comman-pages service-cards">
    <div class="bg-contact-head pt-50 comman-pages-next">
        <div class="abt-in-header-be">
            <div class="pl-50">
                <h1 class="about-txt">Approach</h1>
                <p>Our offices are just an email or phone call away.</p>
            </div>
        </div>
    </div>
    <section class="fadeInDownBig animated pt-50 pb-50 ptMobile-25 pbMobile-25 bgp-d-tl bgp-m-tl">
        <div class="container">
            <div class="itl teaser">
                <div class="has-image">
                    <div class="cmp-itl__content greeting__content">
                        <div class="itl__contentHeight" style="height:px;">
                            <!-- WEB DEVELOPMENT FOR BUSINESS PROCESS AUTOMATION -->
                            <h1 class="dc-text--headline">Flexible Development Approach</h1>
                            <!-- <p class="greeting__subtitle">We use and provide the best web development software</p> -->
                            <p>The choice, extent and mix of methodologies may vary between customer and projects and we will always engage openly in discussions with the customer.</p>
                            <p>Mobile Wave Solutions has extensive experience in the Agile software development methodology, cadence and ceremonies along with long-standing familiarity with Waterfall projects.</p>
                            <p class="greeting__text">In consultation with our customers’ teams we will recommend which elements of the Agile process will be adopted, alongside the appropriate Sprint cadence, which best suits each project, or programme of works.</p>
                            <!-- <p>&nbsp;</p> -->
                        </div>
                    </div>
                    <div class="cmp-itl__image greeting__video">
                        <img src="/assets/img/new/banner/how_work.gif">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="background: #F7F7F8;"
        class="fadeInDownBig animated pt-50 pb-50 ptMobile-25 pbMobile-25 bgp-d-tl bgp-m-tl">
        <div class="container">
            <div class="itl teaser">
                <div class="has-image">
                    <div class="cmp-itl__image greeting__video">
                        <img src="/assets/img/new/banner/tech-stack.png">
                    </div>
                    <div class="cmp-itl__content greeting__content">
                        <div class="itl__contentHeight" style="height:px;">
                            <h1 class="dc-text--headline">Expertise</h1>
                            <ul class="custom-points">
                                <li>Experienced management & engineering team</li>
                                <li>Skill sets span: Web, Native and Server-side</li>
                                <li>Extensive experience in working & delivering within customer-driven methodologies and governance</li>
                                <li>On-time project delivery within agreed budget and with excellent quality</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fadeInDownBig animated pt-50 ptMobile-25 pbMobile-25 bgp-d-tl bgp-m-tl">
        <div class="container">
            <div class="itl teaser">
                <div class="has-image">
                    <div class="cmp-itl__content greeting__content">
                        <div class="itl__contentHeight" style="height:px;">
                            <!-- WEB DEVELOPMENT FOR BUSINESS PROCESS AUTOMATION -->
                            <h1 class="dc-text--headline">We Provide</h1>
                            <p class="greeting__subtitle">Mobile Wave Solutions provides teams and support end-to-end in our partner’s developmental value chains. We possess:</p>
                            <ul class="custom-points">
                                <li>Senior Technical Leads and Managers</li>
                                <li>Solution Architects</li>
                                <li>Cloud-based Architects</li>
                                <li>Project Managers &amp; PMO</li>
                                <li>Product Owners</li>
                                <li>Designers</li>
                                <li>Business Analysts</li>
                            </ul>
                            <p>We can help you find the best solution for your business needs.</p>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                    <div class="cmp-itl__image greeting__video">
                        <img src="/assets/img/new/banner/provide-bg.png">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="padding:50px 0 !important; background: #F7BE39 url('/assets/img/new/banner/teams-bg.png') no-repeat; background-size: 47% auto; " class="fadeInDownBig iteams animated pt-50 ptMobile-25 pbMobile-25 bgp-d-tl bgp-m-tl">
        <div class="container">
            <div class="itl teaser">
                <div class="cmp-itl__content greeting__content">
                    <div class="itl__contentHeight" style="height:px;">
                        <h1 class="dc-text--headline">Integrated Teams</h1>
                        <p>Depending on the nature of the Program of work, or the Project, we will engage with the customer to determine the way of working that best suits the customer’s needs and goals. </p>
                        <p>Transparency is a key aim for Mobile Wave Solutions in engaging with our partners. We always look for full visibility of progress and status for any and all stakeholders. </p>
                        <p>We believe the best Products & Platforms are delivered by autonomous, multi-skilled teams which is why we can embed our people within your team & processes.</p>
                        <p>&nbsp;</p>
                        <p class="call2action blue">Get In Touch</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>