<app-header></app-header>
<div class="comman-pages service-cards">
    <section style="background: #F7F7F8;" class="fadeInDownBig animated pt-50 pb-50">
        <div class="container">
            <div class="itl teaser">
                <div class="itl__contentHeight" style="max-width: 700px;">
                    <!-- WEB DEVELOPMENT FOR BUSINESS PROCESS AUTOMATION -->
                    <h1 class="dc-text--headline">User Experience Design</h1>
                    <p class="greeting__subtitle">Intuitive designs combined with compelling user experience are what
                        makes our apps stand ahead in the digital age. Seamless experience driven by international
                        standards in collaboration with out-of-the-box ideas is the specialty of Acodez’s apps helping
                        your business accomplish its goals.</p>
                    <p class="greeting__text">We provide expertise in key components of the end-to-end software
                        development solution:</p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </section>
    <section class="fadeInDownBig animated pt-50 pb-50">
        <div class="container">
            <div class="itl teaser">
                <div class="itl__contentHeight" style="max-width: 700px;">
                    <!-- WEB DEVELOPMENT FOR BUSINESS PROCESS AUTOMATION -->
                    <h1 class="dc-text--headline">UX Design</h1>
                    <p class="greeting__subtitle">Any part of a design that affects the user is UX design. At Acodez, we
                        take into accountability each and every minutest aspect of this design variant to provide
                        compelling and intuitive user experience. We offer mobile UX design, UX design for SAAS, Product
                        UX design for startups and more, while ensuring that the end user enjoys a great value-added
                        experience.</p>
                    <p class="greeting__text">We provide expertise in key components of the end-to-end software
                        development solution:</p>
                    <p>We offer the below UX design Services</p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </section>
    <section class="fadeInDownBig animated seivice-subsec">
        <div class="service service-interaction-design">
            <div class="container_custom">
                <div class="itl teaser col-md-6">
                    <div class="itl__contentHeight" style="height:px;">
                        <!-- WEB DEVELOPMENT FOR BUSINESS PROCESS AUTOMATION -->
                        <h1 class="dc-text--headline">Interaction Design</h1>
                        <p>UX and UI are the two most important aspects of any design process. One drives the other and
                            as they say UI is incomplete without UX and vice-versa. We offer beautiful interaction
                            processes that are driven by the most modern technologies to offer a great interactive
                            experience for your users.</p>
                    </div>
                    <div class="enquire-btn">Enquire Now!</div>
                </div>
            </div>
        </div>
    </section>
    <section class="fadeInDownBig animated pt-50 pb-50">
        <div class="container">
            <div class="itl teaser">
                <div class="has-image">
                    <div class="cmp-itl__content greeting__content">
                        <div class="itl__contentHeight" style="height:px;">
                            <h1 class="dc-text--headline">Information Architecture</h1>
                            <p>Perfectionizing Information Architecture happens only when it is in the hands of experts.
                                We plan a proper information architecture, which gives birth to digital products that
                                are bound to change the world. Collaborating new technologies, design methods and
                                business processes to formulate digital products that mark a new beginning.</p>
                            <p>Core phases of management and delivery:</p>
                            <p class="bold">1. Planning Phase</p>
                            <p class="bold">2. Product Increment Workshop</p>
                            <p class="bold">3. Sprint Based Planning</p>
                            <p class="bold">4. Milestone Delivery</p>
                            <p>&nbsp;</p>
                        </div>
                        <div class="enquire-btn">Enquire Now!</div>
                    </div>
                    <div class="cmp-itl__image greeting__video">
                        <img src="/assets/img/new/banner/projectmanagement.png">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fadeInDownBig animated seivice-subsec">
        <div class="service service-mobile-ux">
            <div class="container_custom">
                <div class="itl teaser col-md-6">
                    <div class="itl__contentHeight" style="height:px;">
                        <!-- WEB DEVELOPMENT FOR BUSINESS PROCESS AUTOMATION -->
                        <h1 class="dc-text--headline">Interaction Design</h1>
                        <p>UX and UI are the two most important aspects of any design process. One drives the other and
                            as they say UI is incomplete without UX and vice-versa. We offer beautiful interaction
                            processes that are driven by the most modern technologies to offer a great interactive
                            experience for your users.</p>
                    </div>
                    <div class="enquire-btn">Enquire Now!</div>
                </div>
            </div>
        </div>
    </section>
    <section class="fadeInDownBig animated pt-50 pb-50">
        <div class="container">
            <div class="itl teaser">
                <div class="has-image">
                    <div class="cmp-itl__content greeting__content">
                        <div class="itl__contentHeight" style="height:px;">
                            <h1 class="dc-text--headline">UX Testing</h1>
                            <p>All user experience processes housed under one roof Acodez IT Solutions is a one-stop
                                solution for all your UX design needs. We are a warehouse of UX design services,
                                starting from conceptualizing, analyzing, researching, prototyping, designing to the
                                final stage of UX testing all under one roof.</p>
                            <p>&nbsp;</p>
                        </div>
                        <div class="enquire-btn">Enquire Now!</div>
                    </div>
                    <div class="cmp-itl__image greeting__video">
                        <img src="https://cdn.acodez.in/wp-content/themes/acodez/images/service-ux4.jpg">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fadeInDownBig animated seivice-subsec">
        <div class="service service-wireframes">
            <div class="container_custom">
                <div class="itl teaser col-md-6">
                    <div class="itl__contentHeight" style="height:px;">
                        <!-- WEB DEVELOPMENT FOR BUSINESS PROCESS AUTOMATION -->
                        <h1 class="dc-text--headline">Interaction Design</h1>
                        <p>UX and UI are the two most important aspects of any design process. One drives the other and
                            as they say UI is incomplete without UX and vice-versa. We offer beautiful interaction
                            processes that are driven by the most modern technologies to offer a great interactive
                            experience for your users.</p>
                    </div>
                    <div class="enquire-btn">Enquire Now!</div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>