<app-header></app-header>
<div class="comman-pages">
    <div class="cmp-section animated fadeInUp">
        <section id="hero" class=" pt-50 pb-25 " style="background-color:#FEEAED;">
            <div class="container">
                <div class="itl teaser">
                    <div class="has-image">
                        <div class="cmp-itl__image">
                            <img src="/assets/img/new/seo-tablet.png">
                        </div>
                        <div class="cmp-itl__content ">
                            <div class="itl__contentHeight" style="height:px;">
                                <!-- <h1 class="dc-text--headline">Quality and Service</h1>
                                <p>We really appreciate the quality and the service Web.com has provided.
                                    They are always helpful and supportive and have been outstanding in terms of service
                                    and reliability.</p> -->
                                <h1 class="dc-text--headline">Digital Marketing</h1>
                                <p>Digital marketing comprises of a number of activities for the web apart from
                                    marketing and each and every activity needs to be executed with focus on the end
                                    users to ensure success. Fortunately, we have an excellent team of digital marketing
                                    experts, who are working 24/7 to attract, engage and convert your customers into
                                    sales.</p>
                                <div class="rte text section">
                                    <div class="cmp-text">
                                        <!-- <h2><span class="mdc-theme-secondary"><span
                                                    class="dc-text--headline at-element-marker"
                                                    at-action-key="small business seo services">Call&nbsp;<a
                                                        class="tt-phoneNumber" href="tel:1-866-273-0022"
                                                        style="display: none;">1-866-273-0022</a> to talk with an
                                                    expert</span></span></h2> -->
                                        <ul class="checklist multiline">
                                            <li>Help your customers find you through Search
                                                Engine Optimization</li>
                                            <li>Drive more traffic to your website</li>
                                            <li>Improve search engine ranking</li>
                                            <li>Get listed in
                                                popular directories</li>
                                        </ul>
                                        <p>&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class=" pt-50 pb-50">
            <div class="container">
                <div class="itl teaser">
                    <ul class="breadcrumb">
                        <li><i class="fa ion-home"></i><a href="https://acodez.in/">Home</a></li>
                        <li><a href="https://acodez.in/services">Services</a></li>
                        <li>Digital marketing</li>
                    </ul>
                    <div class="itl__contentHeight" style="max-width: 700px;">
                        <h1>Digital Marketing</h1>
                        <p>SEO, SEM, PPC, SMO, Content marketing and social media networking, etc. comprise a
                            perfect digital marketing strategy. We are Google certified marketing professionals
                            as well as bing ads accredited agency, and each member of our digital marketing team
                            flaunts a great deal of experience and expertise in their field of marketing and are
                            always on the hunt for new and innovative ideas to connect businesses to people
                            across the globe.</p>
                        <h3><span class="mdc-theme-secondary">We offer the below Digital Marketing Services</span></h3>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </section>
        <section class=" pt-50 pb-50">
            <div class="container">
                <div class="itl teaser">
                    <div class="has-image">
                        <div class="cmp-itl__content ">
                            <div class="cmp-text">
                                <h3 class="dc-text--headline">SEO (Search Engine Optimization)</h3>
                                <p>We have a perfectly planned SEO strategy that will fit into your business
                                    requirements. Optimizing your site based on our effective keyword research analogy
                                    will drive your site to the top of the search engine results.</p>
                                <p>&nbsp;</p>
                                <ul class="list-s2">
                                    <li><span><img
                                                src="https://cdn.acodez.in/wp-content/themes/acodez/images/digital-marketing/s-icon32.png"></span>E-Commerce
                                        SEO</li>
                                    <li><span><img
                                                src="https://cdn.acodez.in/wp-content/themes/acodez/images/digital-marketing/s-icon39.png"></span>Local
                                        SEO</li>
                                    <li><span><img
                                                src="https://cdn.acodez.in/wp-content/themes/acodez/images/digital-marketing/s-icon35.png"></span>Influencer
                                        Marketing</li>
                                    <li><span><img
                                                src="https://cdn.acodez.in/wp-content/themes/acodez/images/digital-marketing/s-icon03.png"></span>Email
                                        Outreach</li>
                                </ul>
                            </div>
                        </div>
                        <div class="cmp-itl__image">
                            <img src="/assets/img/new/seo/New_SEO.gif">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class=" pt-50 pb-50">
            <div class="container">
                <div class="itl teaser">
                    <div class="has-image">
                        <div class="cmp-itl__image">
                            <img src="/assets/img/new/seo/ppc-vector-art-1024x793.png">
                        </div>
                        <div class="cmp-itl__content ">
                            <div class="cmp-text">
                                <h3 class="dc-text--headline">Search Engine Marketing (SEM) & Pay-Per-Click (PPC)</h3>
                                <p>Better performance. No nonsense.</p>
                                <p>SEM is audience driven. Finding out who exactly your audience is and targeting them
                                    is what forms the major idea of our SEM strategy. We create compelling
                                    advertisements that will attract, engage and convert your customer.</p>
                                <ul class="list-s2">
                                    <li><span><img
                                                src="https://cdn.acodez.in/wp-content/themes/acodez/images/digital-marketing/s-icon42.png"></span>Retargeting
                                    </li>
                                    <li><span><img
                                                src="https://cdn.acodez.in/wp-content/themes/acodez/images/digital-marketing/s-icon20.png"></span>Facebook
                                        Advertising</li>
                                    <li><span><img
                                                src="https://cdn.acodez.in/wp-content/themes/acodez/images/digital-marketing/s-icon24.png"></span>Video
                                        Advertising</li>
                                    <li><span><img
                                                src="https://cdn.acodez.in/wp-content/themes/acodez/images/digital-marketing/s-icon44.png"></span>SEM
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class=" pt-50 pb-50">
            <div class="container">
                <div class="itl teaser">
                    <div class="has-image">
                        <div class="cmp-itl__content ">
                            <div class="cmp-text">
                                <h3 class="dc-text--headline">Social Media Marketing</h3>
                                <p>Connecting your business to the world We possess a great deal of expertise in social
                                    media networking and this is evident from the fact that we have been in the news for
                                    some of our researches on the latest trends reported in the world of social media.
                                    Enjoy the perks of connecting with your people through the most sought after
                                    business process over the web.</p>
                                <ul class="list-s2">
                                    <li><span><img
                                                src="https://cdn.acodez.in/wp-content/themes/acodez/images/digital-marketing/s-icon20.png"></span>Facebook
                                        Marketing</li>
                                    <li><span><img
                                                src="https://cdn.acodez.in/wp-content/themes/acodez/images/digital-marketing/s-icon25.png"></span>Twitter
                                    </li>
                                    <li><span><img
                                                src="https://cdn.acodez.in/wp-content/themes/acodez/images/digital-marketing/s-icon27.png"></span>Linkedin
                                    </li>
                                    <li><span><img
                                                src="https://cdn.acodez.in/wp-content/themes/acodez/images/digital-marketing/s-icon26.png"></span>Pintrest
                                    </li>
                                    <li><span><img
                                                src="https://cdn.acodez.in/wp-content/themes/acodez/images/digital-marketing/s-icon28.png"></span>Instagram
                                    </li>
                                    <li><span><img
                                                src="https://cdn.acodez.in/wp-content/themes/acodez/images/digital-marketing/s-icon29.png"></span>Google+
                                    </li>
                                </ul>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        <div class="cmp-itl__image">
                            <img src="/assets/img/new/seo/Social-Media-Vector.png">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class=" pt-50 pb-50">
            <div class="container">
                <div class="itl teaser">
                    <div class="has-image">
                        <div class="cmp-itl__content ">
                            <div class="cmp-text">
                                <h3 class="dc-text--headline">Content Marketing</h3>
                                <p>We have an excellent team of content marketing experts, who are constantly on the
                                    search for creating great content marketing strategies that will drive your people
                                    to your business.</p>
                                <ul class="list-s2">
                                    <li><span><img
                                                src="https://cdn.acodez.in/wp-content/themes/acodez/images/digital-marketing/s-icon31.png"></span>Blog
                                        Content</li>
                                    <li><span><img
                                                src="https://cdn.acodez.in/wp-content/themes/acodez/images/digital-marketing/s-icon11.png"></span>Website
                                        Content</li>
                                    <li><span><img
                                                src="https://cdn.acodez.in/wp-content/themes/acodez/images/digital-marketing/s-icon37.png"></span>Infographics
                                        Content</li>
                                    <li><span><img
                                                src="https://cdn.acodez.in/wp-content/themes/acodez/images/digital-marketing/s-icon43.png"></span>Review
                                        Content</li>
                                </ul>
                            </div>
                        </div>
                        <div class="cmp-itl__image">
                            <img src="/assets/img/new/seo/content-mamagement.png">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class=" pt-50 pb-50">
            <div class="container">
                <div class="itl teaser">
                    <div class="has-image">
                        <div class="cmp-itl__content ">
                            <div class="cmp-text">
                                <h3 class="dc-text--headline">Email Marketing</h3>
                                <p>Email marketing is a business process that only an expert can execute successfully
                                    out of experience and skills. We have certain strategies that are tried-and-proven
                                    by many of our clients who are implementing email marketing to connect with their
                                    customers while enhancing their customer count.</p>
                                <ul class="list-s2">
                                    <li><span><img
                                                src="https://cdn.acodez.in/wp-content/themes/acodez/images/seo/s-new01.png"></span>Planning
                                        and Setting Your Goal. </li>
                                    <li><span><img
                                                src="https://cdn.acodez.in/wp-content/themes/acodez/images/seo/s-new02.png"></span>The
                                        Message</li>
                                    <li><span><img
                                                src="https://cdn.acodez.in/wp-content/themes/acodez/images/seo/s-new03.png"></span>Evaluate
                                        and Repeat</li>
                                </ul>
                            </div>
                        </div>
                        <div class="cmp-itl__image">
                            <img src="/assets/img/new/seo/marketing-strategy-campaign-concept-vector.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section style="background-color: #d70d00;" class=" pt-50 pb-50">
            <div class="container">
                <div class="itl teaser">
                    <div class="has-image">
                        <div class="cmp-itl__content ">
                            <div class="cmp-text">
                                <h3 style="color: #FFF;" class="dc-text--headline">Email Marketing</h3>
                                <p style="color: #FFF;">Manage B2C cross-channel marketing campaigns at scale.</p>
                                <p style="color: #FFF;">With Us, you can use rich customer data to create, coordinate, and
                                    deliver dynamic campaigns that customers actually want — through email, mobile,
                                    offline channels, and more.</p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        <div class="cmp-itl__image">
                            <img src="/assets/img/new/seo/email_campaign.png">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class=" pt-50 pb-50">
            <div class="container">
                <div class="itl teaser">
                    <div class="has-image">
                        <div class="cmp-itl__content ">
                            <div class="cmp-text">
                                <h3><span class="mdc-theme-secondary">Improve online visibility and exposure</span></h3>
                                <p>Our experts develop everything you need to boost search engine rankings, build
                                    authority and gain online visibility with On and Off Page SEO.<br>
                                    &nbsp;</p>
                                <h3><span class="mdc-theme-secondary">Update an existing website</span></h3>
                                <p>We'll revive your website with an infusion of relevant content and updated web pages
                                    optimized with On Page SEO best practices.&nbsp;<br>
                                    &nbsp;</p>
                                <h3><span class="mdc-theme-secondary">Build online authority and trust</span><br>
                                </h3>
                                <p>Expand your reach. Our experts will get you set up in business directories and create
                                    Off Page referral links each month to increase authority and credibility.</p>
                                <p>&nbsp;</p>

                            </div>
                        </div>
                        <div class="cmp-itl__image">
                            <img src="/assets/img/new/hosting-banner2.png">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class=" pt-50 pb-50">
            <div class="container container-custom">
                <div class="itl teaser">
                    <div class="has-image">
                        <div class="cmp-itl__content ">
                            <div class="cmp-text">
                                <h3><span class="mdc-theme-secondary">So why Web.com?</span></h3>
                                <p>Because we are the right team for the job.</p>
                                <p>Our experts stay on top of the latest trends and algorithms to invest in the success
                                    of your website by improving visibility.&nbsp;</p>
                                <p>Our small business SEO services are customized and flexible to fit your needs. With
                                    no commitment required, our options are perfect to adapt to your growing business.
                                    We’ll help you grow your online visibility, all while staying within your budget.
                                </p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        <div class="cmp-itl__image">
                            <img src="/assets/img/new/whyweb.png">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<app-footer></app-footer>