<app-header></app-header>
<div class="comman-pages">
    <div class="cmp-section animated fadeInUp comman-pages-next">
        <section id="hero" class=" pt-50 pb-25 " style="background-color:#FEEAED;">
            <div class="container">
                <div class="itl teaser">
                    <div class="has-image">
                        <div class="cmp-itl__image">
                            <img src="/assets/new_img/hero.svg">
                        </div>
                        <div class="cmp-itl__content ">
                            <div class="itl__contentHeight" style="height:px;">
                                <h1 class="dc-text--headline">WEB DEVELOPMENT</h1>
                                <h2>As a world-class UX design & development agency, Codal designs, and engineers
                                    robust, scalable websites and web applications for companies of all sizes, sectors,
                                    and business models.</h2>
                                    <div class="rte text section">
                                        <div class="cmp-text">
                                            <ul class="checklist multiline">
                                                <li>EXPERT THOUGHT LEADERSHIP</li>
                                                <li>INTEGRATIONS WITH YOUR DIGITAL ECOSYSTEM</li>
                                                <li>COMPLETE CUSTOMIZATION</li>
                                                <li>BRAND ALIGNMENT</li>
                                            </ul>
                                            <p>&nbsp;</p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class=" pt-50 pb-50">
            <div class="container">
                <div class="itl teaser">
                    <ul class="breadcrumb">
                        <li><i class="fa ion-home"></i><a href="https://acodez.in/">Home</a></li>
                        <li><a href="https://acodez.in/services">Services</a></li>
                        <li>Digital marketing</li>
                    </ul>
                    <div class="itl__contentHeight" style="max-width: 700px;">
                        <h1>Digital Marketing</h1>
                        <p>SEO, SEM, PPC, SMO, Content marketing and social media networking, etc. comprise a
                            perfect digital marketing strategy. We are Google certified marketing professionals
                            as well as bing ads accredited agency, and each member of our digital marketing team
                            flaunts a great deal of experience and expertise in their field of marketing and are
                            always on the hunt for new and innovative ideas to connect businesses to people
                            across the globe.</p>
                        <h3><span class="mdc-theme-secondary">We offer the below Digital Marketing Services</span></h3>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<app-footer></app-footer>