<div class="contact-form-footer">
    <section class="contact-footer" data-aos="zoom-in" style="display: none;">
        <div class="footer-form">
            <div class="footer pt-md-5 pb-20 pt-4 text-left">
                <div class="container">
                    <div class="row ">
                        <div class="col-md-4 col-12 pr-md-5 pb-md-0 pb-3">
                            <span class="font-weight-semibold text-white h3">Contact Us</span>
                            <ul class="list-unstyled foo-address py-4">
                                <li>
                                    <img src="/assets/img/new/footer/email-icon.svg">
                                    <span>Email ID</span>
                                    <p class="text-white mb-0">sales@mindmill.com</p>
                                </li>
                                <li>
                                    <img src="/assets/img/new/footer/phone-icon.svg">
                                    <span>Phone Number</span>
                                    <p class="text-white mb-0">+91 120 414 2000<br>
                                    </p>
                                </li>
                                <li>
                                    <img src="/assets/img/new/footer/loaction-icon.svg">
                                    <span>Location</span>
                                    <p class="text-white mb-0">24A FilmCity Noida, UP 201301, India</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-8 col-12 pl-lg-3 pl-md-5" id="footerform">
                            <form id="bottomform" class="gybo-form">
                                <div class="text-left pb-3">
                                    <h4 class="font-weight-semibold text-white mb-3">Looking To Discuss Your Project?
                                        Request A Callback.</h4>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-12 pl-pr-15">
                                        <div class="form-group">
                                            <input type="text" name="bname" class="form-control" placeholder="Name"
                                                data-value-missing="Enter a name." required="">
                                            <div class="invalid-feedback">Enter a name.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12 pl-pr-15">
                                        <div class="form-group">
                                            <input type="email" name="bemail" class="form-control"
                                                pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$"
                                                placeholder="Email" data-value-missing="Enter a email address."
                                                data-pattern-mismatch="Enter a valid email address." required="">
                                            <div class="invalid-feedback">Enter a valid email address.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12 pl-pr-15">
                                        <div class="form-group">
                                            <input type="text" name="bmob" class="form-control" pattern="[0-9]{5,15}$"
                                                placeholder="Mobile No." data-value-missing="Enter a mobile number."
                                                data-pattern-mismatch="Enter a valid mobile number." required="">
                                            <div class="invalid-feedback">Enter a valid mobile number.</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 pl-pr-15">
                                        <div class="form-group">
                                            <textarea style="resize: none;" class="form-control" name="bmsg"
                                                placeholder="Message" rows="7" data-value-missing="Enter a message."
                                                required=""></textarea>
                                            <div class="invalid-feedback">Enter a message.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" name="submit_2"
                                        class="btn-quote text-uppercase px-4 btn-block">Get in Touch <img
                                            src="/assets/img/new/footer/back-icon.svg"
                                            class="float-right position-relative" width="13" style="top:5px;"></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row py-4 align-items-center">
                        <div class="col-12">
                            <ul class="list-inline mb-0 foo-links text-center">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="footer-page">
    <div class="mdl-grid">
        <!-- <div class="text-center">
            <div class="back-to-top">
                <i class="fa fa-angle-double-up"></i>
            </div>
        </div> -->
        <div class="container-auto text-center">
            <section class="webcom-footer top-section pt-0 pb-0 ">
                <div class="container row">
                    <div class="responsivecolumns col-md-12">
                        <div class="responsive-columns__column  col-sm-2 col-sm-12 col-md-3">
                            <div class="linklist plpr-15 section">
                                <ul class="link-list">
                                    <li>
                                        <p class="footer_font list-heading">About Web.com</p>
                                    </li>
                                    <ul class="list-children">
                                        <li>
                                            <span (click)="goToPage('aboutus')" class="footer_font list-child">Our
                                                Story</span>
                                        </li>
                                        <li>
                                            <span (click)="goToPage('careers')"
                                                class="footer_font list-child">Careers</span>
                                        </li>
                                        <li>
                                            <span (click)="goToPage('reviews')"
                                                class="footer_font list-child">Reviews</span>
                                        </li>
                                        <li>
                                            <span (click)="goToPage('approach')"
                                                class="footer_font list-child">Approach</span>
                                        </li>
                                        <li>
                                            <span (click)="goToPage('engagement-model')"
                                                class="footer_font list-child">Engagement Model</span>
                                        </li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                        <div class="responsive-columns__column  col-sm-2 col-sm-12 col-md-3">
                            <div class="linklist plpr-15 section">
                                <ul class="link-list">
                                    <li>
                                        <p class="footer_font list-heading">Services</p>
                                    </li>
                                    <ul class="list-children">
                                        <li>
                                            <span (click)="goToPage('ui-development')"
                                                class="footer_font list-child">Web Development</span>
                                        </li>
                                        <li>
                                            <span (click)="goToPage('ux-design')" class="footer_font list-child">UX
                                                Design</span>
                                        </li>
                                        <li>
                                            <span (click)="goToPage('mobile-app-development')"
                                                class="footer_font list-child">Mobile Apps</span>
                                        </li>
                                        <li>
                                            <span (click)="goToPage('seo-services')"
                                                class="footer_font list-child">Digital Marketing</span>
                                        </li>
                                        <li>
                                            <span (click)="goToPage('interface-design')"
                                                class="footer_font list-child">Interface Design</span>
                                        </li>
                                        <li>
                                            <span (click)="goToPage('approach')" class="footer_font list-child">UI
                                                Solutions</span>
                                        </li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                        <div class="responsive-columns__column  col-sm-2 col-sm-12 col-md-3">
                            <div class="linklist plpr-15 section">
                                <ul class="link-list">
                                    <li>
                                        <p class="footer_font list-heading">How We Work - Help</p>
                                    </li>
                                    <ul class="list-children">
                                        <li>
                                            <span (click)="goToPage('approach')"
                                                class="footer_font list-child">Approach</span>
                                        </li>
                                        <li>
                                            <span (click)="goToPage('technology')"
                                                class="footer_font list-child">Technology</span>
                                        </li>
                                        <li>
                                            <span (click)="goToPage('engagement-model')"
                                                class="footer_font list-child">Engagement Model</span>
                                        </li>
                                        <li>
                                            <span (click)="goToPage('contactus')"
                                                class="footer_font list-child">Customer Service</span>
                                        </li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                        <div class="responsive-columns__column  col-sm-2 col-sm-12 col-md-3">
                            <div class="linklist plpr-15 section">
                                <ul class="link-list">
                                    <li>
                                        <p class="footer_font list-heading">Professional Services</p>
                                    </li>
                                    <ul class="list-children">
                                        <li>
                                            <span (click)="goToPage('seo-services')"
                                                class="footer_font list-child">Search Engine Optimization</span>
                                        </li>
                                        <li>
                                            <span class="footer_font list-child">Hosting</span>
                                        </li>
                                        <li>
                                            <span (click)="goToPage('approach')"
                                                class="footer_font list-child">Approach</span>
                                        </li>
                                        <li>
                                            <span class="footer_font list-child">Domain Transfer</span>
                                        </li>
                                        <li>
                                            <span class="footer_font list-child">Site Map</span>
                                        </li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="row footer-bottom">
                <div class="col-md-12 footer-social">
                    <div>Connect with us</div>
                    <ul class="connected-icons">
                        <li class="connected-icon">
                            <a href="#home" class="mnk-kumar" title="Medium">
                                <span class="fa fa-home fa-2-5x"></span>
                            </a>
                        </li>
                        <li class="connected-icon">
                            <a target="_blank" href="https://www.linkedin.com/company/mindcube-solutions"
                                title="Linkedin">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </li>
                        <li class="connected-icon">
                            <a target="_blank" href="https://twitter.com/Mindcubesol" title="Follow us on Twitter">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                        </li>
                        <li class="connected-icon">
                            <a target="_blank" href="https://www.facebook.com/Mindcube.Solutions" title="Facebook">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Driving innovation with passion</p>
                <div class="copyrt">
                    © 2021 Web.com Group, Inc All Rights Reserved. Web.com is a registered trademark of Web.com Group,
                    Inc. All other trademarks herein are the property of their respective owners.
                </div>
                <!-- <div class="footer-text">
                    Made with <div class="heart"></div> in India.
                </div> -->
                <!-- <h4 class="footer-logo"><a href="#">MVGK <small class="color-white">Web Builder</small></a></h4> -->
            </div>
        </div>
    </div>
</div>
<div class="cookies-notification" style="display: none;" id="cookies-consent-widget">
    <p>
        Like every organization on earth, we use cookies to ensure you have a normal experience on our website.
        <a href="#">Learn More</a>
    </p>
    <div class="sentry-consent-widget-buttons">
        <button class="sentry-consent-widget-button" data-consent="true">
            I Accept
        </button>
        <button class="sentry-consent-widget-button" data-consent="false">
            Please, No
        </button>
    </div>
</div>