
.bg-contact-head {
    background-image: url(../../../assets/img/new/contact_image.jpg);
    background-size: 100%;
    .abt-in-header-be {
        padding-top: 30px;
        padding-bottom: 30px;
        .about-txt {
            color: #fff;
            font-weight: 600;
            font-size: 62px;
            text-transform: uppercase;
            margin: 0 auto;
        }
    }
}
