<app-header></app-header>
<div class="comman-pages">
    <div class="bg-contact-head pt-50 pb-50">
        <div class="aline-center abt-in-header-be">
            <div class="padding-50-0">
                <h1 class="about-txt">Contact</h1>
                <p>Our offices are just an email or phone call away.</p>
            </div>
        </div>
    </div>
    <div class="et_pb_section  et_pb_section_1 et_section_regular padding-50">
        <div class=" et_pb_row et_pb_row_0">
            <div class="et_pb_column et_pb_column_4_4  et_pb_column_0 aline-center">
                <div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_center  et_pb_text_0">
                    <h3 class="sub-header-title">Future-Focused Marketing</h3>
                </div>
                <div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_center  et_pb_text_1">
                    <p class="sub-description">For general information, press inquiries, human resources, marketing or advertising inquiries, please contact one of our key offices.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="et_pb_section bg-grey et_pb_section_1 et_section_regular padding-50">
        <div class=" et_pb_row et_pb_row_0">
            <div class="et_pb_column et_pb_column_4_4  et_pb_column_0 aline-center">
                <div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_center  et_pb_text_0">
                    <h3 class="sub-header-title">Future-Focused Marketing</h3>
                </div>
                <div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_center  et_pb_text_1">
                    <p class="sub-description">Kobe Digital is a programmatic marketing agency that designs, builds and manages cutting-edge campaigns for top companies around the world. Based in Los Angeles, we’re dedicated to serving our clients with personalized campaigns that focus on tapping into big data to hit big goals.</p>
                </div>
            </div>
        </div>
    </div> -->
</div>
<app-footer></app-footer>