<app-header></app-header>
<div class="homepage comman-pages">
    <section class="animated bounceInLeft pt-20 pb-50 comman-pages-next">
        <div data-section-id="1590676228737" data-section-type="video-section"
            class="video-parent-section hero hero--1590676228737 hero--750px hero--mobile--300px aos-init aos-animate loaded"
            data-aos="hero__animation">
            <div class="hero__media hero__media--1590676228737">
                <div class="hero__media-container">
                    <video id="Mp4Video-1590676228737"
                        src="/assets/videos/Web_compressed_1280_-720.mp4?v=1622539132"
                        loop="" muted="" playsinline="" autoplay=""></video>
                </div>
            </div>
            <div class="hero__text-wrap">
                <div class="page-width">
                    <div class="hero__text-content vertical-center horizontal-center">
                        <div class="">
                            <h2 class="h1 hero__title">
                                <div class="animation-cropper">
                                    <div class="animation-contents">
                                        Get Your Shizz Together
                                    </div>
                                </div>
                            </h2>
                            <div class="hero__subtitle">
                                <div class="animation-cropper">
                                    <div class="animation-contents">
                                        2-in-1 Multivitamin Hydration Tablets
                                    </div>
                                </div>
                            </div>
                            <div class="hero__link">
                                <div class="animation-cropper">
                                    <div class="animation-contents">
                                        <a href="/collections/all-products" class="btn">SHOP NOW
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer class="scotchy-footer"></app-footer>